body {
  padding: 0 128px;
}

.nerd {
  font-family: "VT323"
}


#hello {
  font-size: clamp(1.8rem, 10vh, 128px);
}

#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typed-cursor {
  /* font-size: inherit; */
  line-height: 1;
  vertical-align: top;
  font-size: 80px;
}

h2, h3 {
  font-family: "Geist Mono", monospace;
}

header {
  display: flex;
  justify-content: flex-end;
}

#contact-btn {
  font-family: "Geist Mono", monospace;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px 15px;
  position: fixed;
  margin-right: 20px;
}

p {
  font-family: "Inter", sans-serif;
  max-width: 600px;
  /* font-size: 16px; */
  line-height: 26px;
}

section {
  display: flex;
  flex-direction: row;
  /* height: 374px; */
  margin-bottom: 30vh;
}

h2 {
  width: 300px;
  color: grey;
  font-size: 1em;
}

.badge {
  font-family: "Geist Mono", monospace;
  color: grey;
  text-decoration: none;
  border: 1px solid grey;
  padding: 5px;
  font-size: 10px;
}

.project-link {
  text-decoration: none;
  color: black    
}

.projects {
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text {
  display: flex;
  gap: 50px
}

.project {
  position: relative;
  padding: 40px 12px;
}

.project::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background: grey;
  transform: scaleY(0);
  /* transform-origin: bottom; */
  transition: transform 0.1s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1;
}

a:hover .project::before,
.project:hover::before {
  transform: scaleY(1);
  transform-origin: top;
}

a:hover .project,
.project:hover {
  background: linear-gradient(
    90deg,
    rgba(230, 27, 27, 0.03) 0%,
    transparent 50%
  );
}